In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/VenkatBhaskar/Downloads/cc_train.csv")

In [2]:
df1 = pd.read_csv("C:/Users/VenkatBhaskar/Downloads/cc_predict.csv")

In [60]:
df1

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,response
0,12701,26,MALE,INNER_CITY,18766.90,YES,2,YES,YES,NO,YES,NaN
1,12702,28,MALE,RURAL,9915.67,NO,3,NO,YES,NO,YES,NaN
2,12703,50,FEMALE,RURAL,21881.60,NO,0,YES,YES,YES,NO,NaN
3,12704,55,MALE,TOWN,46794.40,YES,1,NO,YES,NO,YES,NaN
4,12705,54,FEMALE,INNER_CITY,20721.10,YES,0,YES,YES,YES,NO,NaN
5,12706,28,MALE,INNER_CITY,16688.50,NO,2,NO,YES,YES,YES,NaN
6,12707,41,FEMALE,RURAL,39068.00,YES,3,YES,YES,NO,YES,NaN
7,12708,33,FEMALE,INNER_CITY,27740.80,YES,2,YES,YES,NO,YES,NaN
8,12709,49,MALE,INNER_CITY,33584.90,NO,3,YES,YES,NO,NO,NaN
9,12710,69,FEMALE,TOWN,19621.30,YES,1,YES,NO,YES,NO,NaN
10,12711,70,FEMALE,INNER_CITY,47630.90,YES,3,NO,YES,NO,YES,NaN
11,12712,30,FEMALE,INNER_CITY,22378.50,NO,3,YES,NO,YES,YES,NaN
12,12713,61,FEMALE,RURAL,20837.10,YES,1,YES,YES,YES,NO,NaN
13,12714,29,FEMALE,SUBURBAN,23912.70,YES,2,YES,YES,YES,NO,NaN
14,12715,20,MALE,RURAL,8005.13,YES,3,NO,YES,YES,NO,NaN
15,12716,52,MALE,TOWN,34961.70,YES,3,NO,NO,NO,YES,NaN
16,12717,22,FEMALE,INNER_CITY,24627.60,YES,3,YES,YES,YES,YES,NaN
17,12718,62,FEMALE,RURAL,47315.30,YES,2,YES,YES,NO,NO,NaN
18,12719,23,MALE,TOWN,13196.20,YES,3,NO,YES,YES,NO,NaN
19,12720,36,FEMALE,TOWN,20528.90,NO,0,YES,NO,YES,NO,NaN
20,12721,53,MALE,TOWN,37227.80,NO,1,YES,YES,YES,NO,NaN
21,12722,29,FEMALE,INNER_CITY,21022.60,YES,2,NO,NO,YES,NO,NaN
22,12723,63,MALE,RURAL,49986.70,YES,3,YES,YES,YES,NO,NaN
23,12724,61,MALE,RURAL,44199.90,YES,2,YES,YES,YES,YES,NaN
24,12725,26,FEMALE,INNER_CITY,20050.20,YES,2,YES,YES,NO,NO,NaN
25,12726,20,FEMALE,SUBURBAN,13013.90,NO,3,NO,YES,NO,YES,NaN
26,12727,51,FEMALE,TOWN,39465.80,YES,1,YES,NO,NO,NO,NaN
27,12728,67,FEMALE,RURAL,39387.70,YES,2,NO,YES,YES,YES,NaN
28,12729,66,MALE,RURAL,41114.20,YES,1,YES,YES,YES,YES,NaN
29,12730,21,FEMALE,INNER_CITY,11171.00,NO,2,YES,YES,YES,NO,NaN
30,12731,27,MALE,RURAL,23805.50,NO,3,YES,YES,NO,NO,NaN
31,12732,29,FEMALE,TOWN,20979.50,YES,3,NO,YES,YES,NO,NaN
32,12733,28,MALE,SUBURBAN,10523.30,YES,3,NO,NO,NO,YES,NaN
33,12734,34,MALE,SUBURBAN,12403.00,YES,1,NO,YES,YES,NO,NaN
34,12735,41,FEMALE,INNER_CITY,21935.70,YES,1,YES,YES,NO,NO,NaN
35,12736,65,MALE,INNER_CITY,54182.50,YES,1,NO,YES,YES,NO,NaN
36,12737,36,FEMALE,TOWN,20628.00,YES,0,YES,NO,YES,NO,NaN
37,12738,24,MALE,INNER_CITY,28589.40,YES,1,NO,YES,YES,YES,NaN
38,12739,24,FEMALE,TOWN,26201.60,NO,1,YES,NO,YES,NO,NaN
39,12740,33,FEMALE,TOWN,18038.00,YES,1,NO,NO,YES,YES,NaN
40,12741,59,MALE,SUBURBAN,26553.50,NO,2,NO,NO,NO,NO,NaN
41,12742,43,FEMALE,INNER_CITY,26956.00,NO,2,NO,YES,NO,YES,NaN
42,12743,71,MALE,INNER_CITY,43720.40,NO,3,NO,YES,NO,YES,NaN
43,12744,64,FEMALE,INNER_CITY,27372.70,YES,0,YES,NO,YES,NO,NaN
44,12745,71,FEMALE,TOWN,16700.20,NO,3,YES,YES,YES,YES,NaN
45,12746,69,MALE,INNER_CITY,26527.90,NO,3,NO,NO,YES,NO,NaN
46,12747,70,FEMALE,TOWN,58002.20,NO,2,NO,YES,YES,NO,NaN
47,12748,27,FEMALE,INNER_CITY,14827.20,NO,1,YES,NO,YES,NO,NaN
48,12749,22,MALE,TOWN,21366.00,YES,3,NO,YES,YES,NO,NaN
49,12750,67,MALE,SUBURBAN,40099.60,YES,0,YES,YES,YES,NO,NaN

In [3]:
df1.shape

(50, 12)

In [4]:
dfcom = pd.concat([df,df1])
dfcom

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,response
0,12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
2,12102,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
3,12103,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
4,12104,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
45,12746,69,MALE,INNER_CITY,26527.9,NO,3,NO,NO,YES,NO,NaN
46,12747,70,FEMALE,TOWN,58002.2,NO,2,NO,YES,YES,NO,NaN
47,12748,27,FEMALE,INNER_CITY,14827.2,NO,1,YES,NO,YES,NO,NaN
48,12749,22,MALE,TOWN,21366.0,YES,3,NO,YES,YES,NO,NaN
49,12750,67,MALE,SUBURBAN,40099.6,YES,0,YES,YES,YES,NO,NaN

In [5]:
dfcom = dfcom.drop(columns=['id'])

In [6]:
dfcom

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,response
0,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
2,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
3,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
4,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...
45,69,MALE,INNER_CITY,26527.9,NO,3,NO,NO,YES,NO,NaN
46,70,FEMALE,TOWN,58002.2,NO,2,NO,YES,YES,NO,NaN
47,27,FEMALE,INNER_CITY,14827.2,NO,1,YES,NO,YES,NO,NaN
48,22,MALE,TOWN,21366.0,YES,3,NO,YES,YES,NO,NaN
49,67,MALE,SUBURBAN,40099.6,YES,0,YES,YES,YES,NO,NaN

In [7]:
dfcom['car']=df['car'].fillna('NO')

In [8]:
dfcom.isnull().sum()

age             0
sex             0
region          0
income         13
married         0
children        0
car             0
save_act        0
current_act     0
mortgage        0
response       50
dtype: int64

In [9]:
dfcom

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,response
0,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
2,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
3,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
4,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...
45,69,MALE,INNER_CITY,26527.9,NO,3,YES,NO,YES,NO,NaN
46,70,FEMALE,TOWN,58002.2,NO,2,NO,YES,YES,NO,NaN
47,27,FEMALE,INNER_CITY,14827.2,NO,1,YES,NO,YES,NO,NaN
48,22,MALE,TOWN,21366.0,YES,3,NO,YES,YES,NO,NaN
49,67,MALE,SUBURBAN,40099.6,YES,0,YES,YES,YES,NO,NaN

In [10]:
dfcom['income'].mean()

27559.33531347964

In [11]:
dfcom['income'] = df['income'].fillna(dfcom['income'].mean())
dfcom

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,response
0,48,FEMALE,INNER_CITY,17546.000000,NO,1,NO,NO,NO,NO,YES
1,48,FEMALE,INNER_CITY,17546.000000,NO,1,NO,NO,NO,NO,YES
2,40,MALE,TOWN,30085.100000,YES,3,YES,NO,YES,YES,NO
3,51,FEMALE,INNER_CITY,16575.400000,YES,0,YES,YES,YES,NO,NO
4,23,FEMALE,TOWN,20375.400000,YES,3,NO,NO,YES,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...
45,69,MALE,INNER_CITY,13740.000000,NO,3,YES,NO,YES,NO,NaN
46,70,FEMALE,TOWN,52670.600000,NO,2,NO,YES,YES,NO,NaN
47,27,FEMALE,INNER_CITY,27559.335313,NO,1,YES,NO,YES,NO,NaN
48,22,MALE,TOWN,13106.600000,YES,3,NO,YES,YES,NO,NaN
49,67,MALE,SUBURBAN,39547.800000,YES,0,YES,YES,YES,NO,NaN

In [12]:
dfcom.isnull().sum()

age             0
sex             0
region          0
income          0
married         0
children        0
car             0
save_act        0
current_act     0
mortgage        0
response       50
dtype: int64

In [13]:
#dfcom = dfcom.drop(columns=['id'])
#dfcom

In [14]:
dfcom['age'].max()

71

In [15]:
dfcom['age'].min()

18

In [16]:
bins = [18,30,60,71]
labels = [0,1,2]
dfcom['ageNu'] = pd.cut(dfcom['age'],bins,labels=labels,precision = 0)
dfcom

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,response,ageNu
0,48,FEMALE,INNER_CITY,17546.000000,NO,1,NO,NO,NO,NO,YES,1
1,48,FEMALE,INNER_CITY,17546.000000,NO,1,NO,NO,NO,NO,YES,1
2,40,MALE,TOWN,30085.100000,YES,3,YES,NO,YES,YES,NO,1
3,51,FEMALE,INNER_CITY,16575.400000,YES,0,YES,YES,YES,NO,NO,1
4,23,FEMALE,TOWN,20375.400000,YES,3,NO,NO,YES,NO,NO,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45,69,MALE,INNER_CITY,13740.000000,NO,3,YES,NO,YES,NO,NaN,2
46,70,FEMALE,TOWN,52670.600000,NO,2,NO,YES,YES,NO,NaN,2
47,27,FEMALE,INNER_CITY,27559.335313,NO,1,YES,NO,YES,NO,NaN,0
48,22,MALE,TOWN,13106.600000,YES,3,NO,YES,YES,NO,NaN,0
49,67,MALE,SUBURBAN,39547.800000,YES,0,YES,YES,YES,NO,NaN,2

In [17]:
dfcom['childrenNu']=[0 if i==0 else 1 if i==1 else 2 for i in dfcom['children']]
dfcom

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,response,ageNu,childrenNu
0,48,FEMALE,INNER_CITY,17546.000000,NO,1,NO,NO,NO,NO,YES,1,1
1,48,FEMALE,INNER_CITY,17546.000000,NO,1,NO,NO,NO,NO,YES,1,1
2,40,MALE,TOWN,30085.100000,YES,3,YES,NO,YES,YES,NO,1,2
3,51,FEMALE,INNER_CITY,16575.400000,YES,0,YES,YES,YES,NO,NO,1,0
4,23,FEMALE,TOWN,20375.400000,YES,3,NO,NO,YES,NO,NO,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,69,MALE,INNER_CITY,13740.000000,NO,3,YES,NO,YES,NO,NaN,2,2
46,70,FEMALE,TOWN,52670.600000,NO,2,NO,YES,YES,NO,NaN,2,2
47,27,FEMALE,INNER_CITY,27559.335313,NO,1,YES,NO,YES,NO,NaN,0,1
48,22,MALE,TOWN,13106.600000,YES,3,NO,YES,YES,NO,NaN,0,2
49,67,MALE,SUBURBAN,39547.800000,YES,0,YES,YES,YES,NO,NaN,2,0

In [18]:
dfcom['incomeNu'] = pd.qcut(dfcom['income'],4,labels=[0,1,2,3],precision = 0)
dfcom['incomeNu'].value_counts()

0    164
3    163
1    162
2    162
Name: incomeNu, dtype: int64

In [19]:
dfcom

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,response,ageNu,childrenNu,incomeNu
0,48,FEMALE,INNER_CITY,17546.000000,NO,1,NO,NO,NO,NO,YES,1,1,0
1,48,FEMALE,INNER_CITY,17546.000000,NO,1,NO,NO,NO,NO,YES,1,1,0
2,40,MALE,TOWN,30085.100000,YES,3,YES,NO,YES,YES,NO,1,2,2
3,51,FEMALE,INNER_CITY,16575.400000,YES,0,YES,YES,YES,NO,NO,1,0,0
4,23,FEMALE,TOWN,20375.400000,YES,3,NO,NO,YES,NO,NO,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,69,MALE,INNER_CITY,13740.000000,NO,3,YES,NO,YES,NO,NaN,2,2,0
46,70,FEMALE,TOWN,52670.600000,NO,2,NO,YES,YES,NO,NaN,2,2,3
47,27,FEMALE,INNER_CITY,27559.335313,NO,1,YES,NO,YES,NO,NaN,0,1,2
48,22,MALE,TOWN,13106.600000,YES,3,NO,YES,YES,NO,NaN,0,2,0
49,67,MALE,SUBURBAN,39547.800000,YES,0,YES,YES,YES,NO,NaN,2,0,3

In [32]:
#c1=dfcom.select_dtypes(exclude=['object']).columns.tolist()
dfcom = dfcom.astype(str)
dfcom

,sex,region,married,car,save_act,current_act,mortgage,response,ageNu,childrenNu,incomeNu
0,FEMALE,INNER_CITY,NO,NO,NO,NO,NO,YES,1,1,0
1,FEMALE,INNER_CITY,NO,NO,NO,NO,NO,YES,1,1,0
2,MALE,TOWN,YES,YES,NO,YES,YES,NO,1,2,2
3,FEMALE,INNER_CITY,YES,YES,YES,YES,NO,NO,1,0,0
4,FEMALE,TOWN,YES,NO,NO,YES,NO,NO,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
45,MALE,INNER_CITY,NO,YES,NO,YES,NO,nan,2,2,0
46,FEMALE,TOWN,NO,NO,YES,YES,NO,nan,2,2,3
47,FEMALE,INNER_CITY,NO,YES,NO,YES,NO,nan,0,1,2
48,MALE,TOWN,YES,NO,YES,YES,NO,nan,0,2,0
49,MALE,SUBURBAN,YES,YES,YES,YES,NO,nan,2,0,3

In [33]:
dfcom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 651 entries, 0 to 49
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sex          651 non-null    object
 1   region       651 non-null    object
 2   married      651 non-null    object
 3   car          651 non-null    object
 4   save_act     651 non-null    object
 5   current_act  651 non-null    object
 6   mortgage     651 non-null    object
 7   response     651 non-null    object
 8   ageNu        651 non-null    object
 9   childrenNu   651 non-null    object
 10  incomeNu     651 non-null    object
dtypes: object(11)
memory usage: 61.0+ KB

In [37]:
#dfcom = dfcom.drop(columns=['age','income','children'])
dfdummies = pd.get_dummies(dfcom)

In [46]:
dfdumtrain = dfdummies.iloc[:601,:]
dfdumtrain

,sex_FEMALE,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,married_NO,married_YES,car_NO,car_YES,...,ageNu_1,ageNu_2,ageNu_nan,childrenNu_0,childrenNu_1,childrenNu_2,incomeNu_0,incomeNu_1,incomeNu_2,incomeNu_3
0,1,0,1,0,0,0,1,0,1,0,...,1,0,0,0,1,0,1,0,0,0
1,1,0,1,0,0,0,1,0,1,0,...,1,0,0,0,1,0,1,0,0,0
2,0,1,0,0,0,1,0,1,0,1,...,1,0,0,0,0,1,0,0,1,0
3,1,0,1,0,0,0,0,1,0,1,...,1,0,0,1,0,0,1,0,0,0
4,1,0,0,0,0,1,0,1,1,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,1,0,1,0,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
597,1,0,1,0,0,0,0,1,0,1,...,0,0,0,1,0,0,1,0,0,0
598,1,0,0,0,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,0
599,0,1,1,0,0,0,0,1,1,0,...,0,0,0,1,0,0,1,0,0,0
600,0,1,0,0,0,1,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0

In [53]:
dfdumtrain.shape

(601, 30)

In [48]:
restrain = dfdumtrain[['response_YES']]
restrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 601 entries, 0 to 600
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   response_YES  601 non-null    uint8
dtypes: uint8(1)
memory usage: 5.3 KB

In [49]:
y=dfdumtrain['response_YES']
y

0      1
1      1
2      0
3      0
4      0
      ..
596    0
597    0
598    1
599    0
600    1
Name: response_YES, Length: 601, dtype: uint8

In [81]:
dfdumpred = dfdummies.iloc[601:,:]
dfdumpred=dfdumpred[['ageNu_1','ageNu_2','sex_MALE','region_INNER_CITY','region_RURAL','region_SUBURBAN','region_TOWN','incomeNu_1','incomeNu_2','incomeNu_3','married_YES','childrenNu_1','childrenNu_2','car_YES','save_act_YES','current_act_YES','mortgage_YES']]
dfdumpred

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,married_YES,childrenNu_1,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES
0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,1,0,1
1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1
2,1,0,0,0,1,0,0,0,1,0,0,0,0,1,1,1,0
3,1,0,1,0,0,0,1,0,0,0,1,1,0,1,1,0,1
4,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,1,0
5,0,0,1,1,0,0,0,0,0,1,0,0,1,0,1,1,1
6,1,0,0,0,1,0,0,0,0,1,1,0,1,0,1,0,1
7,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1
8,1,0,1,1,0,0,0,1,0,0,0,0,1,1,1,0,0
9,0,1,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0
10,0,1,0,1,0,0,0,1,0,0,1,0,1,1,1,0,1
11,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,1
12,0,1,0,0,1,0,0,0,1,0,1,1,0,1,1,1,0
13,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0
14,0,0,1,0,1,0,0,0,0,1,1,0,1,1,1,1,0
15,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1
16,0,0,0,1,0,0,0,1,0,0,1,0,1,1,1,1,1
17,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0
18,0,0,1,0,0,0,1,0,0,1,1,0,1,0,1,1,0
19,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0
20,1,0,1,0,0,0,1,1,0,0,0,1,0,1,1,1,0
21,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,1,0
22,0,1,1,0,1,0,0,0,0,0,1,0,1,0,1,1,0
23,0,1,1,0,1,0,0,0,0,1,1,0,1,0,1,1,1
24,0,0,0,1,0,0,0,0,1,0,1,0,1,1,1,0,0
25,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,1
26,1,0,0,0,0,0,1,0,0,1,1,1,0,1,0,0,0
27,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,1,1
28,0,1,1,0,1,0,0,1,0,0,1,1,0,0,1,1,1
29,0,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,0
30,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0
31,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,1,0
32,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1
33,1,0,1,0,0,1,0,1,0,0,1,1,0,1,1,1,0
34,1,0,0,1,0,0,0,0,1,0,1,1,0,1,1,0,0
35,0,1,1,1,0,0,0,0,0,1,1,1,0,0,1,1,0
36,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0
37,0,0,1,1,0,0,0,0,0,0,1,1,0,1,1,1,1
38,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0
39,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,1,1
40,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0
41,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1
42,0,1,1,1,0,0,0,0,1,0,0,0,1,1,1,0,1
43,0,1,0,1,0,0,0,0,0,1,1,0,0,1,0,1,0
44,0,1,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1
45,0,1,1,1,0,0,0,0,0,0,0,0,1,1,0,1,0
46,0,1,0,0,0,0,1,0,0,1,0,0,1,0,1,1,0
47,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0
48,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,1,0
49,0,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0

In [52]:
dfdumpred.shape

(50, 30)

In [82]:
traindt = dfdumtrain[['ageNu_1','ageNu_2','sex_MALE','region_INNER_CITY','region_RURAL','region_SUBURBAN','region_TOWN','incomeNu_1','incomeNu_2','incomeNu_3','married_YES','childrenNu_1','childrenNu_2','car_YES','save_act_YES','current_act_YES','mortgage_YES']]
traindt

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,married_YES,childrenNu_1,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES
0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
2,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,1
3,1,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,0
4,0,0,0,0,0,0,1,1,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,0,1,0,1,0,0,0,0,0,1,0,0,1,1,1,1,1
597,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,1,0
598,1,0,0,0,0,0,1,0,0,0,1,0,0,1,1,0,0
599,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,1
600,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,1,1

In [83]:
from sklearn.naive_bayes import BernoulliNB
modelNB = BernoulliNB()
model=modelNB.fit(traindt,y)
y_pred=model.predict(dfdumpred)
y_pred

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1], dtype=uint8)

In [84]:
from sklearn import tree
model1 = tree.DecisionTreeClassifier(criterion='entropy')
model1=model1.fit(traindt,y)
y_pred=model1.predict(dfdumpred)
y_pred

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0], dtype=uint8)

In [85]:
prob=model.predict_proba(dfdumpred)
prob_yes=prob[:,:1]
prob_yes.shape

(50, 1)

In [105]:
prob_yes[1]

array([0.74339802])

In [115]:
df2=dfdumpred
#df2['gain_INNER_CITY']=[i*10000 for i in df2['region_INNER_CITY']]
#df2['gain_INNER_CITY']=[]

In [117]:
df2

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,married_YES,childrenNu_1,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES,gain_INNER_CITY
0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,1,0,1,8772
1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0
2,1,0,0,0,1,0,0,0,1,0,0,0,0,1,1,1,0,0
3,1,0,1,0,0,0,1,0,0,0,1,1,0,1,1,0,1,0
4,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,1,0,7368
5,0,0,1,1,0,0,0,0,0,1,0,0,1,0,1,1,1,6125
6,1,0,0,0,1,0,0,0,0,1,1,0,1,0,1,0,1,0
7,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1,8740
8,1,0,1,1,0,0,0,1,0,0,0,0,1,1,1,0,0,6935
9,0,1,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0,0
10,0,1,0,1,0,0,0,1,0,0,1,0,1,1,1,0,1,8106
11,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,1,5777
12,0,1,0,0,1,0,0,0,1,0,1,1,0,1,1,1,0,0
13,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,0
14,0,0,1,0,1,0,0,0,0,1,1,0,1,1,1,1,0,0
15,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,0
16,0,0,0,1,0,0,0,1,0,0,1,0,1,1,1,1,1,8830
17,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,0
18,0,0,1,0,0,0,1,0,0,1,1,0,1,0,1,1,0,0
19,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0
20,1,0,1,0,0,0,1,1,0,0,0,1,0,1,1,1,0,0
21,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,1,0,7347
22,0,1,1,0,1,0,0,0,0,0,1,0,1,0,1,1,0,0
23,0,1,1,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0
24,0,0,0,1,0,0,0,0,1,0,1,0,1,1,1,0,0,8578
25,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,1,0
26,1,0,0,0,0,0,1,0,0,1,1,1,0,1,0,0,0,0
27,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,1,1,0
28,0,1,1,0,1,0,0,1,0,0,1,1,0,0,1,1,1,0
29,0,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,0,7082
30,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0
31,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,1,0,0
32,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0
33,1,0,1,0,0,1,0,1,0,0,1,1,0,1,1,1,0,0
34,1,0,0,1,0,0,0,0,1,0,1,1,0,1,1,0,0,2276
35,0,1,1,1,0,0,0,0,0,1,1,1,0,0,1,1,0,899
36,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0
37,0,0,1,1,0,0,0,0,0,0,1,1,0,1,1,1,1,2665
38,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0
39,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,1,1,0
40,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0
41,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,7216
42,0,1,1,1,0,0,0,0,1,0,0,0,1,1,1,0,1,5612
43,0,1,0,1,0,0,0,0,0,1,1,0,0,1,0,1,0,3863
44,0,1,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1,0
45,0,1,1,1,0,0,0,0,0,0,0,0,1,1,0,1,0,4727
46,0,1,0,0,0,0,1,0,0,1,0,0,1,0,1,1,0,0
47,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,955
48,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,1,0,0
49,0,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0,0

In [113]:
a=df2['region_INNER_CITY'].to_list()

In [112]:
for i in range(len(df2['region_INNER_CITY'])):
    df2['gain_INNER_CITY'][i]=a[i]*float(prob_yes[i])*10000
df2

C:\Users\VENKAT~1\AppData\Local\Temp/ipykernel_10596/629414490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['gain_INNER_CITY'][i]=a[i]*float(prob_yes[i])*10000

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,married_YES,childrenNu_1,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES,gain_INNER_CITY
0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,1,0,1,8772
1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0
2,1,0,0,0,1,0,0,0,1,0,0,0,0,1,1,1,0,0
3,1,0,1,0,0,0,1,0,0,0,1,1,0,1,1,0,1,0
4,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,1,0,7368
5,0,0,1,1,0,0,0,0,0,1,0,0,1,0,1,1,1,6125
6,1,0,0,0,1,0,0,0,0,1,1,0,1,0,1,0,1,0
7,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1,8740
8,1,0,1,1,0,0,0,1,0,0,0,0,1,1,1,0,0,6935
9,0,1,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0,0
10,0,1,0,1,0,0,0,1,0,0,1,0,1,1,1,0,1,8106
11,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,1,5777
12,0,1,0,0,1,0,0,0,1,0,1,1,0,1,1,1,0,0
13,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,0
14,0,0,1,0,1,0,0,0,0,1,1,0,1,1,1,1,0,0
15,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,0
16,0,0,0,1,0,0,0,1,0,0,1,0,1,1,1,1,1,8830
17,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,0
18,0,0,1,0,0,0,1,0,0,1,1,0,1,0,1,1,0,0
19,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0
20,1,0,1,0,0,0,1,1,0,0,0,1,0,1,1,1,0,0
21,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,1,0,7347
22,0,1,1,0,1,0,0,0,0,0,1,0,1,0,1,1,0,0
23,0,1,1,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0
24,0,0,0,1,0,0,0,0,1,0,1,0,1,1,1,0,0,8578
25,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,1,0
26,1,0,0,0,0,0,1,0,0,1,1,1,0,1,0,0,0,0
27,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,1,1,0
28,0,1,1,0,1,0,0,1,0,0,1,1,0,0,1,1,1,0
29,0,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,0,7082
30,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0
31,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,1,0,0
32,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0
33,1,0,1,0,0,1,0,1,0,0,1,1,0,1,1,1,0,0
34,1,0,0,1,0,0,0,0,1,0,1,1,0,1,1,0,0,2276
35,0,1,1,1,0,0,0,0,0,1,1,1,0,0,1,1,0,899
36,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0
37,0,0,1,1,0,0,0,0,0,0,1,1,0,1,1,1,1,2665
38,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0
39,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,1,1,0
40,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0
41,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,7216
42,0,1,1,1,0,0,0,0,1,0,0,0,1,1,1,0,1,5612
43,0,1,0,1,0,0,0,0,0,1,1,0,0,1,0,1,0,3863
44,0,1,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1,0
45,0,1,1,1,0,0,0,0,0,0,0,0,1,1,0,1,0,4727
46,0,1,0,0,0,0,1,0,0,1,0,0,1,0,1,1,0,0
47,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,955
48,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,1,0,0
49,0,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0,0

In [122]:
df2['gain_SUBURBAN']=0
for i in range(len(df2['region_SUBURBAN'])):
    df2['gain_SUBURBAN'][i]=df2['region_SUBURBAN'][i]*float(prob_yes[i])*9850
df2

C:\Users\VENKAT~1\AppData\Local\Temp/ipykernel_10596/555569803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['gain_SUBURBAN'][i]=df2['region_SUBURBAN'][i]*float(prob_yes[i])*9850

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,married_YES,childrenNu_1,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES,gain_INNER_CITY,gain_SUBURBAN
0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,1,0,1,8772,0
1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,0
2,1,0,0,0,1,0,0,0,1,0,0,0,0,1,1,1,0,0,0
3,1,0,1,0,0,0,1,0,0,0,1,1,0,1,1,0,1,0,0
4,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,1,0,7368,0
5,0,0,1,1,0,0,0,0,0,1,0,0,1,0,1,1,1,6125,0
6,1,0,0,0,1,0,0,0,0,1,1,0,1,0,1,0,1,0,0
7,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1,8740,0
8,1,0,1,1,0,0,0,1,0,0,0,0,1,1,1,0,0,6935,0
9,0,1,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0,0,0
10,0,1,0,1,0,0,0,1,0,0,1,0,1,1,1,0,1,8106,0
11,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,1,5777,0
12,0,1,0,0,1,0,0,0,1,0,1,1,0,1,1,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,0,8129
14,0,0,1,0,1,0,0,0,0,1,1,0,1,1,1,1,0,0,0
15,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,0,0
16,0,0,0,1,0,0,0,1,0,0,1,0,1,1,1,1,1,8830,0
17,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,0,0
18,0,0,1,0,0,0,1,0,0,1,1,0,1,0,1,1,0,0,0
19,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0
20,1,0,1,0,0,0,1,1,0,0,0,1,0,1,1,1,0,0,0
21,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,1,0,7347,0
22,0,1,1,0,1,0,0,0,0,0,1,0,1,0,1,1,0,0,0
23,0,1,1,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0
24,0,0,0,1,0,0,0,0,1,0,1,0,1,1,1,0,0,8578,0
25,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,1,0,6961
26,1,0,0,0,0,0,1,0,0,1,1,1,0,1,0,0,0,0,0
27,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,1,1,0,0
28,0,1,1,0,1,0,0,1,0,0,1,1,0,0,1,1,1,0,0
29,0,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,0,7082,0
30,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0
31,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,1,0,0,0
32,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,7665
33,1,0,1,0,0,1,0,1,0,0,1,1,0,1,1,1,0,0,1560
34,1,0,0,1,0,0,0,0,1,0,1,1,0,1,1,0,0,2276,0
35,0,1,1,1,0,0,0,0,0,1,1,1,0,0,1,1,0,899,0
36,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0
37,0,0,1,1,0,0,0,0,0,0,1,1,0,1,1,1,1,2665,0
38,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0
39,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,1,1,0,0
40,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,4817
41,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,7216,0
42,0,1,1,1,0,0,0,0,1,0,0,0,1,1,1,0,1,5612,0
43,0,1,0,1,0,0,0,0,0,1,1,0,0,1,0,1,0,3863,0
44,0,1,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1,0,0
45,0,1,1,1,0,0,0,0,0,0,0,0,1,1,0,1,0,4727,0
46,0,1,0,0,0,0,1,0,0,1,0,0,1,0,1,1,0,0,0
47,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,955,0
48,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,1,0,0,0
49,0,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0,0,3257

In [125]:
df2['gain_TOWN']=0
for i in range(len(df2['region_TOWN'])):
    df2['gain_TOWN'][i]=df2['region_TOWN'][i]*float(prob_yes[i])*9200
df2

C:\Users\VENKAT~1\AppData\Local\Temp/ipykernel_10596/2768652710.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['gain_TOWN'][i]=df2['region_TOWN'][i]*float(prob_yes[i])*9200

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,married_YES,childrenNu_1,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES,gain_INNER_CITY,gain_SUBURBAN,gain_TOWN
0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,1,0,1,8772,0,0
1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0
2,1,0,0,0,1,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0
3,1,0,1,0,0,0,1,0,0,0,1,1,0,1,1,0,1,0,0,2767
4,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,1,0,7368,0,0
5,0,0,1,1,0,0,0,0,0,1,0,0,1,0,1,1,1,6125,0,0
6,1,0,0,0,1,0,0,0,0,1,1,0,1,0,1,0,1,0,0,0
7,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1,8740,0,0
8,1,0,1,1,0,0,0,1,0,0,0,0,1,1,1,0,0,6935,0,0
9,0,1,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0,0,0,1534
10,0,1,0,1,0,0,0,1,0,0,1,0,1,1,1,0,1,8106,0,0
11,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,1,5777,0,0
12,0,1,0,0,1,0,0,0,1,0,1,1,0,1,1,1,0,0,0,0
13,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,0,8129,0
14,0,0,1,0,1,0,0,0,0,1,1,0,1,1,1,1,0,0,0,0
15,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,0,0,7844
16,0,0,0,1,0,0,0,1,0,0,1,0,1,1,1,1,1,8830,0,0
17,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0
18,0,0,1,0,0,0,1,0,0,1,1,0,1,0,1,1,0,0,0,7438
19,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,4495
20,1,0,1,0,0,0,1,1,0,0,0,1,0,1,1,1,0,0,0,1286
21,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,1,0,7347,0,0
22,0,1,1,0,1,0,0,0,0,0,1,0,1,0,1,1,0,0,0,0
23,0,1,1,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0,0
24,0,0,0,1,0,0,0,0,1,0,1,0,1,1,1,0,0,8578,0,0
25,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,1,0,6961,0
26,1,0,0,0,0,0,1,0,0,1,1,1,0,1,0,0,0,0,0,1431
27,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,1,1,0,0,0
28,0,1,1,0,1,0,0,1,0,0,1,1,0,0,1,1,1,0,0,0
29,0,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,0,7082,0,0
30,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0
31,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,1,0,0,0,8331
32,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,7665,0
33,1,0,1,0,0,1,0,1,0,0,1,1,0,1,1,1,0,0,1560,0
34,1,0,0,1,0,0,0,0,1,0,1,1,0,1,1,0,0,2276,0,0
35,0,1,1,1,0,0,0,0,0,1,1,1,0,0,1,1,0,899,0,0
36,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0,6695
37,0,0,1,1,0,0,0,0,0,0,1,1,0,1,1,1,1,2665,0,0
38,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,1309
39,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,1,1,0,0,2395
40,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,4817,0
41,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,7216,0,0
42,0,1,1,1,0,0,0,0,1,0,0,0,1,1,1,0,1,5612,0,0
43,0,1,0,1,0,0,0,0,0,1,1,0,0,1,0,1,0,3863,0,0
44,0,1,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,5946
45,0,1,1,1,0,0,0,0,0,0,0,0,1,1,0,1,0,4727,0,0
46,0,1,0,0,0,0,1,0,0,1,0,0,1,0,1,1,0,0,0,4925
47,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,955,0,0
48,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,1,0,0,0,8139
49,0,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0,0,3257,0

In [126]:
df2['gain_RURAL']=0
for i in range(len(df2['region_RURAL'])):
    df2['gain_RURAL'][i]=df2['region_RURAL'][i]*float(prob_yes[i])*9850
df2

C:\Users\VENKAT~1\AppData\Local\Temp/ipykernel_10596/3406191346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['gain_RURAL'][i]=df2['region_RURAL'][i]*float(prob_yes[i])*9850

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,...,childrenNu_1,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES,gain_INNER_CITY,gain_SUBURBAN,gain_TOWN,gain_RURAL
0,0,0,1,1,0,0,0,0,0,0,...,0,1,0,1,0,1,8772,0,0,0
1,0,0,1,0,1,0,0,0,0,0,...,0,1,0,1,0,1,0,0,0,7322
2,1,0,0,0,1,0,0,0,1,0,...,0,0,1,1,1,0,0,0,0,4533
3,1,0,1,0,0,0,1,0,0,0,...,1,0,1,1,0,1,0,0,2767,0
4,1,0,0,1,0,0,0,1,0,0,...,0,0,0,1,1,0,7368,0,0,0
5,0,0,1,1,0,0,0,0,0,1,...,0,1,0,1,1,1,6125,0,0,0
6,1,0,0,0,1,0,0,0,0,1,...,0,1,0,1,0,1,0,0,0,7653
7,1,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,1,8740,0,0,0
8,1,0,1,1,0,0,0,1,0,0,...,0,1,1,1,0,0,6935,0,0,0
9,0,1,0,0,0,0,1,1,0,0,...,1,0,1,0,1,0,0,0,1534,0
10,0,1,0,1,0,0,0,1,0,0,...,0,1,1,1,0,1,8106,0,0,0
11,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,1,1,5777,0,0,0
12,0,1,0,0,1,0,0,0,1,0,...,1,0,1,1,1,0,0,0,0,1313
13,0,0,0,0,0,1,0,0,0,0,...,0,1,0,1,1,0,0,8129,0,0
14,0,0,1,0,1,0,0,0,0,1,...,0,1,1,1,1,0,0,0,0,7207
15,1,0,1,0,0,0,1,1,0,0,...,0,1,0,0,0,1,0,0,7844,0
16,0,0,0,1,0,0,0,1,0,0,...,0,1,1,1,1,1,8830,0,0,0
17,0,1,0,0,1,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,7781
18,0,0,1,0,0,0,1,0,0,1,...,0,1,0,1,1,0,0,0,7438,0
19,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,4495,0
20,1,0,1,0,0,0,1,1,0,0,...,1,0,1,1,1,0,0,0,1286,0
21,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,1,0,7347,0,0,0
22,0,1,1,0,1,0,0,0,0,0,...,0,1,0,1,1,0,0,0,0,7204
23,0,1,1,0,1,0,0,0,0,1,...,0,1,0,1,1,1,0,0,0,6155
24,0,0,0,1,0,0,0,0,1,0,...,0,1,1,1,0,0,8578,0,0,0
25,0,0,0,0,0,1,0,0,0,0,...,0,1,1,1,0,1,0,6961,0,0
26,1,0,0,0,0,0,1,0,0,1,...,1,0,1,0,0,0,0,0,1431,0
27,0,1,0,0,1,0,0,1,0,0,...,0,1,0,1,1,1,0,0,0,7791
28,0,1,1,0,1,0,0,1,0,0,...,1,0,0,1,1,1,0,0,0,1574
29,0,0,0,1,0,0,0,0,1,0,...,0,1,1,1,1,0,7082,0,0,0
30,0,0,1,0,1,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,7204
31,0,0,0,0,0,0,1,1,0,0,...,0,1,0,1,1,0,0,0,8331,0
32,0,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,1,0,7665,0,0
33,1,0,1,0,0,1,0,1,0,0,...,1,0,1,1,1,0,0,1560,0,0
34,1,0,0,1,0,0,0,0,1,0,...,1,0,1,1,0,0,2276,0,0,0
35,0,1,1,1,0,0,0,0,0,1,...,1,0,0,1,1,0,899,0,0,0
36,1,0,0,0,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,6695,0
37,0,0,1,1,0,0,0,0,0,0,...,1,0,1,1,1,1,2665,0,0,0
38,0,0,0,0,0,0,1,0,0,0,...,1,0,1,0,1,0,0,0,1309,0
39,1,0,0,0,0,0,1,1,0,0,...,1,0,1,0,1,1,0,0,2395,0
40,1,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,4817,0,0
41,1,0,0,1,0,0,0,0,1,0,...,0,1,0,1,0,1,7216,0,0,0
42,0,1,1,1,0,0,0,0,1,0,...,0,1,1,1,0,1,5612,0,0,0
43,0,1,0,1,0,0,0,0,0,1,...,0,0,1,0,1,0,3863,0,0,0
44,0,1,0,0,0,0,1,0,1,0,...,0,1,1,1,1,1,0,0,5946,0
45,0,1,1,1,0,0,0,0,0,0,...,0,1,1,0,1,0,4727,0,0,0
46,0,1,0,0,0,0,1,0,0,1,...,0,1,0,1,1,0,0,0,4925,0
47,0,0,0,1,0,0,0,0,1,0,...,1,0,1,0,1,0,955,0,0,0
48,0,0,1,0,0,0,1,0,0,0,...,0,1,0,1,1,0,0,0,8139,0
49,0,1,1,0,0,1,0,0,0,1,...,0,0,1,1,1,0,0,3257,0,0

In [127]:
df2['new']=df2['gain_INNER_CITY']+df2['gain_RURAL']+df2['gain_SUBURBAN']+df2['gain_TOWN']
df2

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,...,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES,gain_INNER_CITY,gain_SUBURBAN,gain_TOWN,gain_RURAL,new
0,0,0,1,1,0,0,0,0,0,0,...,1,0,1,0,1,8772,0,0,0,8772
1,0,0,1,0,1,0,0,0,0,0,...,1,0,1,0,1,0,0,0,7322,7322
2,1,0,0,0,1,0,0,0,1,0,...,0,1,1,1,0,0,0,0,4533,4533
3,1,0,1,0,0,0,1,0,0,0,...,0,1,1,0,1,0,0,2767,0,2767
4,1,0,0,1,0,0,0,1,0,0,...,0,0,1,1,0,7368,0,0,0,7368
5,0,0,1,1,0,0,0,0,0,1,...,1,0,1,1,1,6125,0,0,0,6125
6,1,0,0,0,1,0,0,0,0,1,...,1,0,1,0,1,0,0,0,7653,7653
7,1,0,0,1,0,0,0,0,0,0,...,1,0,1,0,1,8740,0,0,0,8740
8,1,0,1,1,0,0,0,1,0,0,...,1,1,1,0,0,6935,0,0,0,6935
9,0,1,0,0,0,0,1,1,0,0,...,0,1,0,1,0,0,0,1534,0,1534
10,0,1,0,1,0,0,0,1,0,0,...,1,1,1,0,1,8106,0,0,0,8106
11,0,0,0,1,0,0,0,0,0,1,...,1,0,0,1,1,5777,0,0,0,5777
12,0,1,0,0,1,0,0,0,1,0,...,0,1,1,1,0,0,0,0,1313,1313
13,0,0,0,0,0,1,0,0,0,0,...,1,0,1,1,0,0,8129,0,0,8129
14,0,0,1,0,1,0,0,0,0,1,...,1,1,1,1,0,0,0,0,7207,7207
15,1,0,1,0,0,0,1,1,0,0,...,1,0,0,0,1,0,0,7844,0,7844
16,0,0,0,1,0,0,0,1,0,0,...,1,1,1,1,1,8830,0,0,0,8830
17,0,1,0,0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,7781,7781
18,0,0,1,0,0,0,1,0,0,1,...,1,0,1,1,0,0,0,7438,0,7438
19,1,0,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,4495,0,4495
20,1,0,1,0,0,0,1,1,0,0,...,0,1,1,1,0,0,0,1286,0,1286
21,0,0,0,1,0,0,0,0,0,1,...,1,0,0,1,0,7347,0,0,0,7347
22,0,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,7204,7204
23,0,1,1,0,1,0,0,0,0,1,...,1,0,1,1,1,0,0,0,6155,6155
24,0,0,0,1,0,0,0,0,1,0,...,1,1,1,0,0,8578,0,0,0,8578
25,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,1,0,6961,0,0,6961
26,1,0,0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,1431,0,1431
27,0,1,0,0,1,0,0,1,0,0,...,1,0,1,1,1,0,0,0,7791,7791
28,0,1,1,0,1,0,0,1,0,0,...,0,0,1,1,1,0,0,0,1574,1574
29,0,0,0,1,0,0,0,0,1,0,...,1,1,1,1,0,7082,0,0,0,7082
30,0,0,1,0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,7204,7204
31,0,0,0,0,0,0,1,1,0,0,...,1,0,1,1,0,0,0,8331,0,8331
32,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,7665,0,0,7665
33,1,0,1,0,0,1,0,1,0,0,...,0,1,1,1,0,0,1560,0,0,1560
34,1,0,0,1,0,0,0,0,1,0,...,0,1,1,0,0,2276,0,0,0,2276
35,0,1,1,1,0,0,0,0,0,1,...,0,0,1,1,0,899,0,0,0,899
36,1,0,0,0,0,0,1,1,0,0,...,0,0,0,1,0,0,0,6695,0,6695
37,0,0,1,1,0,0,0,0,0,0,...,0,1,1,1,1,2665,0,0,0,2665
38,0,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,0,1309,0,1309
39,1,0,0,0,0,0,1,1,0,0,...,0,1,0,1,1,0,0,2395,0,2395
40,1,0,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,4817,0,0,4817
41,1,0,0,1,0,0,0,0,1,0,...,1,0,1,0,1,7216,0,0,0,7216
42,0,1,1,1,0,0,0,0,1,0,...,1,1,1,0,1,5612,0,0,0,5612
43,0,1,0,1,0,0,0,0,0,1,...,0,1,0,1,0,3863,0,0,0,3863
44,0,1,0,0,0,0,1,0,1,0,...,1,1,1,1,1,0,0,5946,0,5946
45,0,1,1,1,0,0,0,0,0,0,...,1,1,0,1,0,4727,0,0,0,4727
46,0,1,0,0,0,0,1,0,0,1,...,1,0,1,1,0,0,0,4925,0,4925
47,0,0,0,1,0,0,0,0,1,0,...,0,1,0,1,0,955,0,0,0,955
48,0,0,1,0,0,0,1,0,0,0,...,1,0,1,1,0,0,0,8139,0,8139
49,0,1,1,0,0,1,0,0,0,1,...,0,1,1,1,0,0,3257,0,0,3257

In [129]:
df3=df2.sort_values(by=['new'],ascending=False)
df3

,ageNu_1,ageNu_2,sex_MALE,region_INNER_CITY,region_RURAL,region_SUBURBAN,region_TOWN,incomeNu_1,incomeNu_2,incomeNu_3,...,childrenNu_2,car_YES,save_act_YES,current_act_YES,mortgage_YES,gain_INNER_CITY,gain_SUBURBAN,gain_TOWN,gain_RURAL,new
16,0,0,0,1,0,0,0,1,0,0,...,1,1,1,1,1,8830,0,0,0,8830
0,0,0,1,1,0,0,0,0,0,0,...,1,0,1,0,1,8772,0,0,0,8772
7,1,0,0,1,0,0,0,0,0,0,...,1,0,1,0,1,8740,0,0,0,8740
24,0,0,0,1,0,0,0,0,1,0,...,1,1,1,0,0,8578,0,0,0,8578
31,0,0,0,0,0,0,1,1,0,0,...,1,0,1,1,0,0,0,8331,0,8331
48,0,0,1,0,0,0,1,0,0,0,...,1,0,1,1,0,0,0,8139,0,8139
13,0,0,0,0,0,1,0,0,0,0,...,1,0,1,1,0,0,8129,0,0,8129
10,0,1,0,1,0,0,0,1,0,0,...,1,1,1,0,1,8106,0,0,0,8106
15,1,0,1,0,0,0,1,1,0,0,...,1,0,0,0,1,0,0,7844,0,7844
27,0,1,0,0,1,0,0,1,0,0,...,1,0,1,1,1,0,0,0,7791,7791
17,0,1,0,0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,7781,7781
32,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,7665,0,0,7665
6,1,0,0,0,1,0,0,0,0,1,...,1,0,1,0,1,0,0,0,7653,7653
18,0,0,1,0,0,0,1,0,0,1,...,1,0,1,1,0,0,0,7438,0,7438
4,1,0,0,1,0,0,0,1,0,0,...,0,0,1,1,0,7368,0,0,0,7368
21,0,0,0,1,0,0,0,0,0,1,...,1,0,0,1,0,7347,0,0,0,7347
1,0,0,1,0,1,0,0,0,0,0,...,1,0,1,0,1,0,0,0,7322,7322
41,1,0,0,1,0,0,0,0,1,0,...,1,0,1,0,1,7216,0,0,0,7216
14,0,0,1,0,1,0,0,0,0,1,...,1,1,1,1,0,0,0,0,7207,7207
22,0,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,7204,7204
30,0,0,1,0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,7204,7204
29,0,0,0,1,0,0,0,0,1,0,...,1,1,1,1,0,7082,0,0,0,7082
25,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,1,0,6961,0,0,6961
8,1,0,1,1,0,0,0,1,0,0,...,1,1,1,0,0,6935,0,0,0,6935
36,1,0,0,0,0,0,1,1,0,0,...,0,0,0,1,0,0,0,6695,0,6695
23,0,1,1,0,1,0,0,0,0,1,...,1,0,1,1,1,0,0,0,6155,6155
5,0,0,1,1,0,0,0,0,0,1,...,1,0,1,1,1,6125,0,0,0,6125
44,0,1,0,0,0,0,1,0,1,0,...,1,1,1,1,1,0,0,5946,0,5946
11,0,0,0,1,0,0,0,0,0,1,...,1,0,0,1,1,5777,0,0,0,5777
42,0,1,1,1,0,0,0,0,1,0,...,1,1,1,0,1,5612,0,0,0,5612
46,0,1,0,0,0,0,1,0,0,1,...,1,0,1,1,0,0,0,4925,0,4925
40,1,0,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,4817,0,0,4817
45,0,1,1,1,0,0,0,0,0,0,...,1,1,0,1,0,4727,0,0,0,4727
2,1,0,0,0,1,0,0,0,1,0,...,0,1,1,1,0,0,0,0,4533,4533
19,1,0,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,4495,0,4495
43,0,1,0,1,0,0,0,0,0,1,...,0,1,0,1,0,3863,0,0,0,3863
49,0,1,1,0,0,1,0,0,0,1,...,0,1,1,1,0,0,3257,0,0,3257
3,1,0,1,0,0,0,1,0,0,0,...,0,1,1,0,1,0,0,2767,0,2767
37,0,0,1,1,0,0,0,0,0,0,...,0,1,1,1,1,2665,0,0,0,2665
39,1,0,0,0,0,0,1,1,0,0,...,0,1,0,1,1,0,0,2395,0,2395
34,1,0,0,1,0,0,0,0,1,0,...,0,1,1,0,0,2276,0,0,0,2276
28,0,1,1,0,1,0,0,1,0,0,...,0,0,1,1,1,0,0,0,1574,1574
33,1,0,1,0,0,1,0,1,0,0,...,0,1,1,1,0,0,1560,0,0,1560
9,0,1,0,0,0,0,1,1,0,0,...,0,1,0,1,0,0,0,1534,0,1534
26,1,0,0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,1431,0,1431
12,0,1,0,0,1,0,0,0,1,0,...,0,1,1,1,0,0,0,0,1313,1313
38,0,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,0,1309,0,1309
20,1,0,1,0,0,0,1,1,0,0,...,0,1,1,1,0,0,0,1286,0,1286
47,0,0,0,1,0,0,0,0,1,0,...,0,1,0,1,0,955,0,0,0,955
35,0,1,1,1,0,0,0,0,0,1,...,0,0,1,1,0,899,0,0,0,899

In [132]:
dfnew=df3.iloc[:10,21:]
dfnew

     new
16  8830
0   8772
7   8740
24  8578
31  8331
48  8139
13  8129
10  8106
15  7844
27  7791